<html>
  <head>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
<body>
  <h1>For Hire Vehicles in NYC Database</h1>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="pickup_map">Pickup map</a>
    <a href="dropoff_map">Dropoff map</a>
    <a href="query">View Data</a>
    <a href="insert">Insert</a>
    <a href="update">Update</a>
    <a href="delete">Delete</a>
    <a href="stat">Statistics</a>
  </div>
<h2>Welcome and pick a tab from the top bar to explore!</h2>
<!-- <p><a href="another">Go to the other page</a></p> -->
<!-- <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->
</body>
</html>
