<head>
<link rel="stylesheet" href="/static/styles.css">
</head>
<div class="topnav">
    <a href="/">Home</a>
    <a href="pickup_map">Pickup map</a>
    <a href="dropoff_map">Dropoff map</a>
    <a href="query">View Data</a>
    <a href="insert">Insert</a>
    <a href="update">Update</a>
    <a href="delete">Delete</a>
    <a class="active" href="stat" >Statistics</a>
</div>
<div display: inline-block; text-align: center;>
    <form float:left method="POST" action="/stat">
        <fieldset float: left; width: 80%>
          <legend>Search</legend>
          <label>Base number:</label>
          <input type="text" name="keyword">
        </fieldset>
        <fieldset>
          <legend>Order</legend>
          <label>Sort by:</label>
          <select id="sort_col" name="sort_col">
            <option value="count_trip">#trips</option>
            <option value="count_vehicle">#vehicles</option>      
            <option value="count_driver">#driver</option>      
          </select> 
          <label>Order:</label>
          <select id="order" name="order">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>            
          </select>
          <label>Rows per page:</label>
          <select id="rpp" name="rpp">
            <option value="10">10</option>
            <option value="25">25</option>  
            <option value="50">50</option>            
          </select>
          <label>Page:</label>
          <input type="number" id="page" name="page" min="1" max="{{total_page}}" value="1">
        </fieldset>
        <fieldset>
          <legend>Submit!</legend>
          <input type="submit" value="Submit">
        </fieldset>
      </form> 
</div>
<h1>FHV bases statistics</h1>
<div display: inline-block; text-align: center;>
  <p>Total records: {{total_len}}</p>
  <p>Total pages: {{total_page}}</p>
</div>
<table class="table">
<tr class="table__header">
    {% for header in headings %}
    <th class="table__cell">{{ header }}</th>
    {% endfor %}
</tr>
{% for row in data %}
<tr class="table__row">
    {% for cell in row %}
    <td class="table__cell"> {{ cell }} </td>
    {% endfor %}
</tr>
{% endfor %}
</table>